.analysis-table-chart-container{
    display: flex;
}

.analysis-table-container{
    float: left;
    margin-left: 0.5%;
    width: 55%;
}

.analysis-chart-container{
    float: right;
    margin-left: 0.6%;
    width: 40%;
}