.analysis-chart-container {
    float: right;
    margin-left: 0.6%;
    width:95%
}

.type-selection-dropdown{
    margin-left:1vw;
    width:35vw;
}

.component-type-selection{
    margin-right:1vw;
    width:48vw;
}

.type-selection-container{
    display: flex;
    justify-content: space-between;
}