.analysis-chart-container {
    float: right;
    margin-left: 0.6%;
    width:95%
}

.type-selection-dropdown{
    margin-left:1%;
    width:35vw;
}

.component-type-selection{
    // margin-right:1%;
    width: 52vw;
}

.type-selection-container{
    display: flex;
    justify-content: space-between;
}

.list-label{
    margin-left: 1%;
    text-align: center;
    justify-self: center;
}