.custom-header-cell {
    background-color: rgb(57, 119, 201) !important;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.k-grid tr.k-grid-row>td {
    border-color: white;
}

.custom-number-cell {
    background-color: white !important;
    color: black !important;
    text-align: right !important;
}

.custom-text-cell {
    background-color: white !important;
    color: black !important;
    text-align: left !important;
}