.filters-button-container {
    margin: 1%;
    border: 3px solid rgb(57, 119, 201) !important;
}

.first-line-container {
    display: flex;
    justify-items: left;
    margin-left: 1%;
}

.second-line-container {
    justify-items: left;
    display: flex;
    margin-left: 1%;
}

.k-checkbox:checked {
    background-color: rgb(57, 119, 201) !important;
    color: white !important;
    box-shadow: 0 0 1px blue !important;
    border-color: blue !important;
}

.instruction-container {
    justify-self: flex-end;
    margin-top: 1.25%;
    margin-left: 7vw;
}

.button-container {
    justify-self: flex-end;
    margin-right: 1%;
}