.custom-toolbar {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.menu-button {
    margin-right: 10px;
}

.overview {
    font-size: 50px;
    font-weight: bold;
}

.drawer {
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
}