.project-list-container {
  padding: 10px;
}

.filter-group {
  border: 3px solid rgb(25, 101, 203) !important;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  padding: 1%;
}

.project-combobox {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.range-slider {
  width: 100%;
  padding: 10px;
}

.k-slider .k-slider-selection {
  background-color: rgb(25, 101, 203) !important;
}

.k-slider .k-draghandle {
  background-color: rgb(25, 101, 203) !important;
  color: rgb(25, 101, 203) !important;
  box-shadow: 0 0 1px blue !important;
  border-color: blue !important;
}

.slider-textbox {
  align-self: center;
  height: 70%;
  width: 80%;
  padding: 1%;
}

.apply-filter-button {
  align-self: center;
  padding: 10px;
  margin-right: 10px;
}

.reset-filter-button {
  align-self: center;
  padding: 10px;
  margin-left: 10px;
}

.form-field {
  display: flex;
}

.custom-label {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 1%;
  width: 7vw;
  text-align: center;
}

.custom-label-range {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: -5%;
  margin-right: 5%;
  width: 6vw;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.slider-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.left-slider {
  display: flex;
  margin-right: 1%;
}

.right-slider {
  display: flex;
  margin-right: 1%;
}