// SubBuildingTotalAnalysisTable1.scss

.k-grid {

  margin-left: 1% !important;

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }

  // Custom styles for custom-number-cell and custom-text-cell
  .custom-number-cell,
  .custom-text-cell {
    background-color: inherit !important;
  }
}

.custom-header-cell {
  background-color: rgb(25, 101, 203);
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white !important;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 50%;
      width: 1px;
      background-color: white;
      transform: translateY(-50%);
    }
  }
}

.k-grid tr.k-grid-row>td {
  border-color: white;
}

.custom-header-number-cell {
  background-color: rgb(249, 249, 249) !important;
  color: black !important;
  text-align: right !important;
}

.custom-number-cell {
  text-align: right !important;
}

.custom-text-cell {
  text-align: left !important;
}