// SubBuildingTotalAnalysisTable1.scss

// SubBuildingTotalAnalysisTable1.scss

.table-container {
  
}

.k-grid {
  th {
    text-align: left;
  }

  td {
    text-align: right;

    &:not([data-type="string"]) {

      // 숫자일 경우 소수점 아래 2글자까지 표시
      &:before {
        content: attr(data-value);
        content: str-slice(attr(data-value), 1, -2) "." str-slice(attr(data-value), -2);
        display: none;
      }
    }
  }
}

// TotalAnalysisGrid2.scss

.custom-header-cell {
  background-color: rgb(25, 101, 203);
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white !important;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 50%;
      width: 1px;
      background-color: white;
      transform: translateY(-50%);
    }
  }
}

.k-grid tr.k-grid-row>td {
  border-color: white;
}

.custom-cell {
  background-color: rgb(22, 48, 138);
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white !important;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 50%;
      width: 1px;
      background-color: white;
      transform: translateY(-50%);
    }
  }
}