.custom-header-cell {
  background-color: rgb(25, 101, 203);
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white !important;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 50%;
      width: 1px;
      background-color: white;
      transform: translateY(-50%);
    }
  }
}

.analysis-table-container{
  float: left;
  margin-left: 0.5%;
  width: 50vw;
  margin-right:5vw;
}

.analysis-table-type {
  margin-left: 1% !important;
  text-align: left !important;
  font-size: 20px;
}
