.k-menu-item {
    background-color: white;
    color: black  !important;
    font-weight: bold;
    border-right: 1px solid white;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
}

.selected-menu-item {
    background-color: rgb(25, 101, 203) !important;
    color: white !important;
}