.custom-header-cell {
  background-color: rgb(25, 101, 203);
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white !important;
}
// .k-table-td{
//   width:10px;
// }

.analysis-table-container{
  float: left;
  margin-left: 0.5%;
  width: 97%;
  margin-right:5vw;
}

.analysis-table-type {
  margin-left: 1% !important;
  text-align: left !important;
  font-size: 20px;
}
