.left-components {
  float: left;
  width: 50%;

}

.right-components {
  float: right;
  width: 50%;
}

.custom-header-cell {
  background-color: rgb(25, 101, 203) !important;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.custom-text-cell {
  background-color: white !important;
  color: black !important;
  text-align: left !important;
}