@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.k-chart text {
  font-family: 'Inter', sans-serif !important;
  font-size: 15px !important;
}

.k-chart-legend {
  white-space: normal;
}