@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.total-building-num {
    display: flex;
    justify-content: center;
    /* 가로 가운데 정렬 */
    font-family: 'Inter', sans-serif !important;
    font-size: 10vh;
    color: #00028f;
    position: relative;
}

.building-child {
    position: absolute;
    transform: translate(0, -10%);
}